* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
h3 {
    text-align: right;
    margin-top: 40px;
}
.box {
    width: 400px;
    height: 400px;
    margin: 50px auto;
}
.errors {
    color: red;
}
.top {
    height: 130px;
    color: white;
    background: linear-gradient(90deg, rgba(94,185,247,1) 0%, rgba(20,215,235,1) 100%);
    padding: 20px 0;
}
.links {
    color: white;
}